iStomaLaborator/iStomaLab/Service References/iStatie/ValidareStatieDeLucru.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://licente.istoma.ro" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://licente.istoma.ro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://licente.istoma.ro">
      <s:element name="VerificaStatia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pParolaClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLicenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pIdStatie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaStatiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaStatiaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaStatiaV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pParolaClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLicenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pIdStatie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNumeStatie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaStatiaV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaStatiaV2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificaStatiaSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaStatia" />
  </wsdl:message>
  <wsdl:message name="VerificaStatiaSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaStatiaResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaStatiaV2SoapIn">
    <wsdl:part name="parameters" element="tns:VerificaStatiaV2" />
  </wsdl:message>
  <wsdl:message name="VerificaStatiaV2SoapOut">
    <wsdl:part name="parameters" element="tns:VerificaStatiaV2Response" />
  </wsdl:message>
  <wsdl:portType name="ValidareStatieDeLucruSoap">
    <wsdl:operation name="VerificaStatia">
      <wsdl:input message="tns:VerificaStatiaSoapIn" />
      <wsdl:output message="tns:VerificaStatiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaStatiaV2">
      <wsdl:input message="tns:VerificaStatiaV2SoapIn" />
      <wsdl:output message="tns:VerificaStatiaV2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidareStatieDeLucruSoap" type="tns:ValidareStatieDeLucruSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaStatia">
      <soap:operation soapAction="http://licente.istoma.ro/VerificaStatia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaStatiaV2">
      <soap:operation soapAction="http://licente.istoma.ro/VerificaStatiaV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidareStatieDeLucruSoap12" type="tns:ValidareStatieDeLucruSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificaStatia">
      <soap12:operation soapAction="http://licente.istoma.ro/VerificaStatia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaStatiaV2">
      <soap12:operation soapAction="http://licente.istoma.ro/VerificaStatiaV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidareStatieDeLucru">
    <wsdl:port name="ValidareStatieDeLucruSoap" binding="tns:ValidareStatieDeLucruSoap">
      <soap:address location="http://licente.istoma.ro/ValidareStatieDeLucru.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidareStatieDeLucruSoap12" binding="tns:ValidareStatieDeLucruSoap12">
      <soap12:address location="http://licente.istoma.ro/ValidareStatieDeLucru.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>