iStomaLaborator/iStomaLab/Service References/iFunctionalitati/Functionalitati.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://licente.istoma.ro" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://licente.istoma.ro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://licente.istoma.ro">
      <s:element name="CereFunctionalitate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pParola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLicenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pIdEcran" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pLocalizare" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDescriere" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pTip" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CereFunctionalitateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CereFunctionalitateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SemnaleazaProblema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCodClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pParola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLicenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pProblema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SemnaleazaProblemaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CereFunctionalitateSoapIn">
    <wsdl:part name="parameters" element="tns:CereFunctionalitate" />
  </wsdl:message>
  <wsdl:message name="CereFunctionalitateSoapOut">
    <wsdl:part name="parameters" element="tns:CereFunctionalitateResponse" />
  </wsdl:message>
  <wsdl:message name="SemnaleazaProblemaSoapIn">
    <wsdl:part name="parameters" element="tns:SemnaleazaProblema" />
  </wsdl:message>
  <wsdl:message name="SemnaleazaProblemaSoapOut">
    <wsdl:part name="parameters" element="tns:SemnaleazaProblemaResponse" />
  </wsdl:message>
  <wsdl:portType name="FunctionalitatiSoap">
    <wsdl:operation name="CereFunctionalitate">
      <wsdl:input message="tns:CereFunctionalitateSoapIn" />
      <wsdl:output message="tns:CereFunctionalitateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SemnaleazaProblema">
      <wsdl:input message="tns:SemnaleazaProblemaSoapIn" />
      <wsdl:output message="tns:SemnaleazaProblemaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FunctionalitatiSoap" type="tns:FunctionalitatiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CereFunctionalitate">
      <soap:operation soapAction="http://licente.istoma.ro/CereFunctionalitate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SemnaleazaProblema">
      <soap:operation soapAction="http://licente.istoma.ro/SemnaleazaProblema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FunctionalitatiSoap12" type="tns:FunctionalitatiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CereFunctionalitate">
      <soap12:operation soapAction="http://licente.istoma.ro/CereFunctionalitate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SemnaleazaProblema">
      <soap12:operation soapAction="http://licente.istoma.ro/SemnaleazaProblema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Functionalitati">
    <wsdl:port name="FunctionalitatiSoap" binding="tns:FunctionalitatiSoap">
      <soap:address location="http://licente.istoma.ro/Functionalitati.asmx" />
    </wsdl:port>
    <wsdl:port name="FunctionalitatiSoap12" binding="tns:FunctionalitatiSoap12">
      <soap12:address location="http://licente.istoma.ro/Functionalitati.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>